<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../js/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../../js/font-awesome-4.7.0/css/font-awesome.min.css" media="all"/>
    <!--<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">-->
    <link rel="stylesheet" href="../css/common.css" media="all"/>
    <link rel="stylesheet" href="list.css" media="all"/>
</head>
<body>
<div id="toploading">
    <span>
        <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop"
           style="font-size:22px;color:green;">&#x1002;</i><br/>
        <label>拼命加载中</label>
    </span>
</div>
<div id="app">
    <div id="content">
        <div class="add-btn-box">
            <div class="txt">
                <span>{{setup.title}}（{{total}}）</span>
                <span class="top-loading-line" v-if="loading">
                    <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop">&#x1002;</i> 加载中</span>
            </div>
            <div class="btns" v-if="setup.btns">
                <span v-for="t in setup.btns.topNav">
                    <button v-if="t.type=='filter'" class="layui-btn" @click="onShowFilterBox(true)">
                        <i class="layui-icon">&#xe649;</i> {{t.name||'筛选'}}
                    </button>
                    <button v-else-if="t.type=='add'" class="layui-btn" :disabled="currBtn==t"
                            :class="currBtn==t?'layui-btn-disabled':''" @click="showIframe(t)">
                        <i class="layui-icon">&#xe608;</i> {{t.name||'添加'}}
                    </button>
                    <button v-else-if="t.type=='export'" class="layui-btn" :disabled="currBtn==t"
                            :class="currBtn==t?'layui-btn-disabled':''" @click="onExport(t)">
                        <i class="layui-icon">&#xe601;</i> {{t.name||'导出'}}
                    </button>
                    <button v-else-if="t.type=='refresh'" :disabled="currBtn==t"
                            :class="currBtn==t?'layui-btn-disabled':''" class="layui-btn" @click="onRefresh(t)">
                        <i class="layui-icon" :class="currBtn==t?'layui-anim layui-anim-rotate layui-anim-loop':''">&#x1002;</i> {{t.name||'刷新'}}
                    </button>
                    <a v-else-if="t.type=='link'" class="layui-btn" :href="t.url" :title="t.title">
                        <i class="layui-icon" v-html="t.icon"></i> {{t.name}}
                    </a>
                    <button v-else-if="t.type=='iframe'" class="layui-btn" :disabled="currBtn==t"
                            :class="currBtn==t?'layui-btn-disabled':''" @click="showIframe(t)" :title="t.title">
                        <i class="layui-icon" v-html="t.icon"></i> {{t.name}}
                    </button>
                    <button v-else-if="t.type=='event'" class="layui-btn" :disabled="currBtn==t"
                            :class="currBtn==t?'layui-btn-disabled':''" @click="onEvent(t)" :title="t.title">
                        <i class="layui-icon" v-html="t.icon"></i> {{t.name}}
                    </button>
                    <button v-else-if="t.type=='ajax'" class="layui-btn" :disabled="currBtn==t"
                            :class="currBtn==t?'layui-btn-disabled':''" @click="onAjaxEvent(t)" :title="t.title">
                        <i class="layui-icon" v-html="t.icon"></i> {{t.name}}
                    </button>
                </span>
            </div>
        </div>
        <table class="layui-table" v-if="setup.table" id="content_table">
            <thead>
            <tr class="no-topborder">
                <th width="20px"><input type="checkbox" name="check_all" class="mini-check" @click="onSelectAll"/></th>
                <th v-for="d in setup.table.header" v-html="headerProcess(d)"></th>
                <th width="120px">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-if="items.length==0" class="items">
                <td class="no-item" :colspan="setup.table.header.length+2">暂无记录</td>
            </tr>
            <tr class="items" v-for="item in items" v-else>
                <td width="20px"><input class="mini-check" :value="item.id" type="checkbox"/></td>
                <td v-for="d in setup.table.header" :width="d.w" v-html="valueProcess(d,item)"></td>
                <td width="180px" class="td-btns">
                    <span v-for="t in setup.btns.inItem">
                        <i v-if="t.type=='save'" class="item-btn fa fa-save" @click="onUpdateSomeField($event,item.id)"
                           title="保存"> 保存</i>
                    </span><i class="item-btn fa fa-ellipsis-h" @click="onShowMoreMenu($event,item.id)" title="查看更多">
                    更多</i>
                    <div class="btn-menu" v-if="currMoreMenuId==item.id" @click="onShowMoreMenu($event,0)"
                         @mouseout="onShowMoreMenu($event,-1)" @mouseover="onShowMoreMenu($event,-2)">
                    <span v-for="t in setup.btns.inItem">
                        <i v-if="t.type=='detail'" class="abtn fa fa-info-circle" @click="showIframe(t,item)"
                           title="查看更多"><font>查看</font></i>
                        <i v-else-if="t.type=='update'" class="abtn fa fa-edit" @click="showIframe(t,item)"
                           title="编辑"><font>编辑</font></i>
                        <i v-else-if="t.type=='del'" class="abtn fa fa-trash" @click="onDel(item.id)" title="删除"><font>删除</font></i>
                        <label v-else-if="t.type=='iframe'">
                            <i v-if="!t.check||t.check(item)" class="abtn fa fa-window-maximize"
                               @click="showIframe(t,item)" :title="t.title"><font>{{t.name}}</font></i>
                        </label>
                        <label v-else-if="t.type=='link'">
                            <a v-if="!t.check||t.check(item)" class="abtn fa fa-link" :href="formatLink(t.url,item)"
                               :title="t.title"><font>{{t.name}}</font></a>
                        </label>
                        <label v-else-if="t.type=='ajax'">
                            <i v-if="!t.check||t.check(item)" class="abtn fa" :class="t.icon"
                               @click="onAjaxEvent(t,item)" :title="t.title"><font>{{t.name}}</font></i>
                        </label>
                        <label v-else-if="t.type=='update_dic'">
                            <i v-if="!t.check||t.check(item)" class="abtn fa" :class="t.icon" @click="updateDic(t,item)"
                               :title="t.title"><font>{{t.name}}</font></i>
                        </label>
                        <label v-else-if="t.type=='update_about'">
                            <i v-if="!t.check||t.check(item)" class="abtn fa" :class="t.icon"
                               @click="updateAbout(t,item)"
                               :title="t.title"><font>{{t.name}}</font></i>
                        </label>
                        <label v-else-if="t.type=='update_to_admin'">
                            <i v-if="!t.check||t.check(item)" class="abtn fa" :class="t.icon"
                               @click="updateToAdmin(t,item)" :title="t.title"><font>{{t.name}}</font></i>
                        </label>
                        <label v-else-if="t.type=='fun'">
                            <i v-if="!t.check||t.check(item)" class="abtn fa" :class="t.icon"
                               @click="t.fun($event,t,item,vm)" :title="t.title"><font>{{t.name}}</font></i>
                        </label>
                    </span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="tr-bottom" v-if="setup.btns&&setup.btns.bottom&&setup.btns.bottom.length">
                <span v-for="t in setup.btns.bottom">
                    <button v-if="t.type=='delete'" :disabled="currBtn==t"
                            :class="currBtn==t?'layui-btn-disabled':''" class="layui-btn layui-btn-sm layui-btn-danger"
                            @click="onBatchDelete(t)"><i class="layui-icon">&#xe640;</i> 批量删除</button>
                    <button v-else-if="t.type=='ajax'" class="layui-btn" :disabled="currBtn==t"
                            :class="currBtn==t?'layui-btn-disabled':''" @click="onBatchAjaxEvent(t)" :title="t.title">
                        <i class="fa" :class="t.icon"></i> {{t.name}}
                    </button>
                    <button v-else-if="t.type=='iframe'" class="layui-btn" :disabled="currBtn==t"
                            :class="currBtn==t?'layui-btn-disabled':''" @click="onBatchIframe(t)" :title="t.title">
                        <i class="fa" :class="t.icon"></i> {{t.name}}
                    </button>
                </span>
        </div>
    </div>
    <div class="filter-box">
        <div class="filter-box-in">
            <i class="layui-icon icon-ok" title="关闭" @click="onShowFilterBox(false)">&#xe602;</i>
            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li :class="tab==1?'layui-this':''" @click="onTabChanage(1)">筛选</li>
                    <li :class="tab==2?'layui-this':''" @click="onTabChanage(2)">搜索</li>
                    <li :class="tab==3?'layui-this':''" @click="onTabChanage(3)">排序</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item" id="filter_box" :class="tab==1?'layui-show':''">
                        <div v-if="!setup.filter||setup.filter.length==0" class="no-record">没有筛选项</div>
                        <fieldset class="layui-elem-field site-demo-button" v-for="d in setup.filter">
                            <legend>按{{d.name}}筛选</legend>
                            <div class="filter-btn-room" v-if="d.type=='admin'">
                                <select @change="onFilterAdmin($event,d)" class="myselect">
                                    <option value="-1">不限</option>
                                    <optgroup v-for="de in departments" :label="de.name">
                                        <option v-for="a in de.admins" :value="a.id">{{a.name}}</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="filter-btn-room" v-else-if="d.type=='users'">
                                <select v-if="d.group_id" @change="onFilterAdmin($event,d)" class="myselect">
                                    <option value="-1">不限</option>
                                    <optgroup
                                            v-for="g in window.parent.dicArr[524].dictionarys.sort((g1,g2)=>g2.key_id-g1.key_id)"
                                            :label="g.key_value" v-if="g.key_id>0&&users.find(f=>f.group_id==g.key_id)">
                                        <option v-for="u in users" :value="u.id" v-if="u.group_id==g.key_id">{{u.real_name||u.nickname}}</option>
                                    </optgroup>
                                </select>
                                <select v-else @change="onFilterAdmin($event,d)" class="myselect">
                                    <option value="-1">不限</option>
                                    <option v-for="u in users" :value="u.id"
                                            v-if="d.group_id?u.group_id==d.group_id:true">{{u.group_name}}-{{u.real_name||u.nickname}}</option>
                                </select>
                            </div>
                            <div class="filter-btn-room" v-else-if="d.type=='department'">
                                <select @change="onFilterAdmin($event,d)" class="myselect">
                                    <option value="-1">不限</option>
                                    <option v-for="a in departments" :value="a.id">{{a.name}}</option>
                                </select>
                            </div>
                            <div class="filter-btn-room" v-else-if="d.type=='community'">
                                <select @change="onFilterAdmin($event,d)" class="myselect">
                                    <option value="-1">不限</option>
                                    <option v-for="a in communitys" :value="a.id">{{a.community_name}}</option>
                                </select>
                            </div>
                            <div class="filter-btn-room" v-else-if="d.type=='diclink'">
                                <div class="block">
                                    <span v-for="btn in d.btns0" @click="onDicLinkageFilter($event,d,btn,0)"
                                          :class="btn.id==d.id0?'curr':'uncurr'">
                                        {{btn.key_value}}{{btn.count?'('+btn.count+')':''}}
                                    </span>
                                </div>
                                <div class="block" v-if="d.id0&&d.id0>0&&d.btns1&&d.btns1.length>0">
                                    <hr/>
                                    <span v-for="btn in d.btns1"
                                          @click="onDicLinkageFilter($event,d,btn,1)" :class="btn.id==d.id1?'curr':'uncurr'">
                                        {{btn.key_value}}{{btn.count?'('+btn.count+')':''}}
                                    </span>
                                </div>
                                <div class="block" v-if="d.id1&&d.id1>0&&d.btns2&&d.btns2.length>0">
                                    <hr/>
                                    <span v-for="btn in d.btns2"
                                          @click="onDicLinkageFilter($event,d,btn,2)" :class="btn.id==d.id2?'curr':'uncurr'">
                                        {{btn.key_value}}{{btn.count?'('+btn.count+')':''}}
                                    </span>
                                </div>
                                <div class="block" v-if="d.id2&&d.id2>0&&d.btns3&&d.btns3.length>0">
                                    <hr/>
                                    <span v-for="btn in d.btns3"
                                          @click="onDicLinkageFilter($event,d,btn,3)" :class="btn.id==d.id3?'curr':'uncurr'">
                                        {{btn.key_value}}{{btn.count?'('+btn.count+')':''}}
                                    </span>
                                </div>
                            </div>
                            <div class="filter-btn-room" v-else>
                    <span v-for="btn in d.btns" @click="onFilter($event,d,btn)" :class="btn.curr?'curr':'uncurr'">
                        {{btn.key_value}}{{btn.count?'('+btn.count+')':''}}
                    </span>
                            </div>

                        </fieldset>
                        <div class="hold40"></div>
                    </div>
                    <div class="layui-tab-item" :class="tab==2?'layui-show':''">
                        <fieldset class="layui-elem-field site-demo-button">
                            <legend>搜索</legend>
                            <div class="filter-btn-room2" @click="onHiddenSuggest">
                                <div class="one-line">
                                    <span class="type-name">搜索字段：</span>
                                    <select id="sel_search" name="sel_search" v-model="search.keyname">
                                        <option v-for="d in setup.search" :value="d.column">{{d.name}}</option>
                                    </select>
                                </div>
                                <div class="one-line">
                                    <span class="type-name">关键词：</span>
                                    <span class="input-line">
                        <input placeholder="请输入关键词" @keyup="onChanageKeyword" type="text" class="input-txt"
                               name="txt_search" v-model="search.keyvalue"/>
                    </span>
                                    <div class="suggest" v-if="suggest.boxShow">
                                        <label @click="onSelect"
                                               v-for="item in suggest.items">{{item[search.keyname]}}</label>
                                    </div>
                                </div>
                                <div class="one-line">
                                    <span class="type-name">模糊查询：</span>
                                    <label><input type="checkbox" v-model="search.isLike" value="0"></label>
                                </div>
                                <div class="one-line">
                                    <button class="layui-btn layui-btn-mini go-btn" @click="onSearch(null)">
                                        <i class="layui-icon">&#xe615;</i> 搜索
                                    </button>
                                </div>
                                <div class="one-line search-log" v-if="false&&searchLog&&searchLog.length>0">
                                    <div>搜索记录：</div>
                                    <span v-for="log in searchLog" @click="onSearch(log)">{{log.keyvalue}}</span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="layui-elem-field site-demo-button">
                            <legend>按时间搜索</legend>
                            <div class="filter-btn-room2">
                                <div class="btn-room">
                                    <span class="type-name">筛选列：</span>
                                    <div class="layui-btn-group">
                                        <button v-for="b in setup.timeFilter" class="layui-btn layui-btn-mini"
                                                :class="b.curr?'layui-btn-disabled':''"
                                                @click="onChangeTimeFilterColum($event,b)">
                                            {{b.name}}
                                        </button>
                                    </div>
                                </div>
                                <div class="btn-room">
                                    <span class="type-name">快捷选取：</span>
                                    <div class="layui-btn-group">
                                        <button class="layui-btn layui-btn-mini layui-btn-disabled"
                                                @click="onTimeFilter($event,-1)">
                                            清空
                                        </button>
                                        <button class="layui-btn layui-btn-mini"
                                                @click="onTimeFilter($event,0)">
                                            今天
                                        </button>
                                        <button class="layui-btn layui-btn-mini"
                                                @click="onTimeFilter($event,1)">
                                            昨天
                                        </button>
                                        <button class="layui-btn layui-btn-mini"
                                                @click="onTimeFilter($event,7)">
                                            本周
                                        </button>
                                        <button class="layui-btn layui-btn-mini"
                                                @click="onTimeFilter($event,30)">
                                            本月
                                        </button>
                                    </div>
                                </div>
                                <div class="btn-room">
                                    <div>
                                        <div class="one-line">
                                            <span class="type-name">从：</span>
                                            <input type="text" placeholder="开始时间" class="input-txt input-time"
                                                   id="start_time"
                                                   v-model="timeFilters.starttime"/>
                                        </div>
                                        <div class="one-line">
                                            <span class="type-name">至：</span>
                                            <input type="text" placeholder="结束时间" class="input-txt input-time"
                                                   id="end_time"
                                                   v-model="timeFilters.endtime"/>
                                        </div>
                                        <div class="one-line">
                                            <button class="layui-btn layui-btn-mini go-btn"
                                                    @click="onTimeFilter($event,-2)">
                                                <i class="layui-icon">&#xe615;</i> 查询
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="layui-tab-item" :class="tab==3?'layui-show':''">
                        <fieldset class="layui-elem-field site-demo-button">
                            <legend>排序</legend>
                            <div class="filter-btn-room2">
                                <div class="one-line">
                                    <span class="type-name">排序字段：</span>
                                    <select name="sel_search" v-model="sorter.orderby">
                                        <option v-for="d in columns" :value="d.column">{{d.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="one-line">
                                    <button class="layui-btn layui-btn-mini go-btn" @click="onSort(-1)">
                                        <i class="layui-icon">&#xe61a;</i> 降序
                                    </button>
                                    <button class="layui-btn layui-btn-mini go-btn" @click="onSort(1)">
                                        <i class="layui-icon">&#xe619;</i> 升序
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../../js/jquery.js" charset="utf-8"></script>
<script src="../../../js/vue.min.js" charset="utf-8"></script>
<script src="../../../js/moment.js" charset="utf-8"></script>
<script src="../../../js/common.js" charset="utf-8"></script>
<script src="../../../js/layui/layui.js" charset="utf-8"></script>
<script src="list.js" charset="utf-8"></script>
</body>
</html>