body{
    margin:20px;
}
#app{
    padding-left:10%;
}
.left-pannel{
    width:10%;
    display: block;
    overflow: hidden;
    float:
    left;
    background-color: #fff;
    color: #009688;
    border-right:1px solid #ddd;
    box-shadow: 5px 0px 5px 0px rgb(0 0 0 / 10%);
    position: fixed;
    top: 32px;
    left: 0px;
}
.left-pannel a{
    width: 100%;
    display: block;
    overflow: hidden;
    clear: both;
    line-height: 40px;
    text-align: center;
}
.left-pannel i{
    float: right;
    line-height: 40px;
    padding-right: 10px;
}
.left-pannel .curr{
    color: white;
    background-color: #409eff;
}
.result{ 
    display: block;
    overflow: hidden;
    background-color: #fff;
    border-top:2px;
    padding:20px 0;
}
.el-textarea__inner{
    background-color:#000;
    color:#fff;
}
.el-radio{
    line-height: 2.5!important;
}
h2{
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}
#json,#json2{
    background-color: #000;
    color:#fff;
    padding:20px;
}
.box-card{
    width: 47%;
    float:
    left;
    margin:10px;
}
.file-box{
    display: block;
    padding: 8px;
    overflow: hidden;
    border: 1px solid #ddd;
    margin: 4px 0;
    border-radius: 4px;
}